{% extends 'base.html.twig' %}

{% block body %}

<div style="padding: 1rem;">
    <a href="{{ path('app_logout') }}" class="btn btn-danger">Cerrar Sesión</a>
	<div id="logo-container">
		<img src="{{ asset('c_logo.jpg') }}" alt="Logo de Cineverse" id="logo">
	</div>
</div>

    </br>

	<div class="container text-center" >
		<div class="row" style="border: 1px solid gray; border-radius: 10px;">
			<div class="col" style="border: 2px solid gray;">
				<button class="btn btn-lg">
					Series
				</button>
			</div>
			<div class="col" style="border: 2px solid gray;">
				<button class="btn btn-lg">
					Películas
				</button>
			</div>
			<div class="col" style="border: 2px solid gray;">
				<button class="btn btn-lg">
					Documentales
				</button>
			</div>
		</div>
	</div>

    </br>
	

	<nav class="navbar navbar-light" style="display: flex; justify-content: center; background-color: transparent;">
        <form class="form-inline" style="display: flex;">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar..." aria-label="Search" style="width: 800px; margin-right: 10px;">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
    </nav>
    
	<div style="display: flex; flex-wrap: wrap; justify-content: space-around; padding: 4rem;">
		{% for dat in data %}
		<div class="card" style="width: calc(33.33% - 40px); margin: 10px;">
			<img src="..." class="card-img-top" alt="...">
			<div class="card-body">
			  <h5 class="card-title">{{dat.titulo}}</h5>
			</div>
			<ul class="list-group list-group-flush">
			  <li class="list-group-item">{{dat.actores_principales}}</li>
			  <li class="list-group-item">{{dat.fecha_lanzamiento}}</li>
			  <li class="list-group-item">{{dat.tip}} / {{dat.genero}}</li>
			</ul>
			<div class="card-body">
			  <a href="#" class="card-link">Card link</a>
			  <a href="#" class="card-link">Another link</a>
			</div>
		  </div>	
		{% endfor %}
	</div>

	{#{{ dump(data) }}#}

{% endblock %}
