{% extends 'base.html.twig' %}
{# registro.html.twig #}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/registro.css') }}">
{% endblock %}
{% block body %}
<div>
    <div style="padding: 1rem;">
        <a href="{{ path('app_login') }}" class="btn btn-outline-light">Volver </a>
    </div>
</div>
<br></br>

{% if e is defined %}
{{ dump(e) }}
{% endif %}


{% for label, messages in app.flashes() %}
{% for message in messages %}
{% if label == 'exito' %}
<div class="alert alert-success">
    {{message}}
</div>
{% else %}
<div class="alert alert-danger">
    {{message}}
</div>
{% endif %}
{% endfor %}
{% endfor %}

{#TIENE QUE MOSTRAR TODOS LOS DATOS REPETIDOS#}
{% if arrayValoresString is defined %}

<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="display: block;">
      <div class="toast-header">
        <img src="{{ asset('c.svg') }}" class="rounded me-2" alt="..." style="width: 30px;">
        <strong class="me-auto">Datos Erroneos</strong>
        <small>Ahora</small>
      </div>
      <div class="toast-body">
        Los siguientes datos ya se encuentran ocupados, intente nuevamente
        <b style="color: red;">
            : {{ arrayValoresString ?? "" }}
        </b>
      </div>
    </div>
  </div>

{% endif %}

<script>
    setTimeout(function() {
        $('#liveToast').fadeOut(1000, function() {
            $(this).remove();
        });
    }, 7000);
</script>
<div id="div_formulario_registro">
<form style="margin: 1rem;" action="{{ path('registro_manager') }}" method="post" id="form_registro" onsubmit="return validarDatos()">
    <h2 id="registro-titulo">Registrarse</h2>
    <label for="registro_nombre">Nombre Completo</label>
    <div>
        <input type="text" name="nombre_completo" required>
    </div>

    <label for="">Nombre de Usuario</label>
    <div>
        <input type="text" name="nombre_usuario" required>
    </div>

    <label for="">Correo Electronico</label>
    <div>
        <input type="email" name="correo_electronico" required>
    </div>

    <label for="">Contraseña</label>
    <div>
        <input type="password" name="contraseña" id="contraseñaOrg" required>
        <button type="button" id="togglePassword1" class="btn btn-outline-secondary" style="border-radius: 0.5rem; font-size: small;">Mostrar</button>
    </div>

    <label for="">Repetir Contraseña</label>
    <div>
        <input type="password" name="repetir_contraseña" id="contraseña_repetida" required>
        <button type="button" id="togglePassword2" class="btn btn-outline-secondary" style="border-radius: 0.5rem; font-size: small">Mostrar</button>
    </div>

    <span id="contraseñaErronea" style="color: red;"></span>

    </br>
    <input id="registrarme-boton" type="submit" value="Registrarme" class="btn btn-outline-primary">
</form>
</div>
<script>
    document.getElementById('togglePassword1').addEventListener('click', function () {
        let passwordInput = document.getElementById('contraseñaOrg');
        let currentType = passwordInput.getAttribute('type');
        passwordInput.setAttribute('type', currentType === 'password' ? 'text' : 'password');
        this.textContent = currentType === 'password' ? 'Ocultar' : 'Mostrar';
    });

    document.getElementById('togglePassword2').addEventListener('click', function () {
        let passwordInput = document.getElementById('contraseña_repetida');
        let currentType = passwordInput.getAttribute('type');
        passwordInput.setAttribute('type', currentType === 'password' ? 'text' : 'password');
        this.textContent = currentType === 'password' ? 'Ocultar' : 'Mostrar';
    });
</script>

<script>
    function validarDatos() {
        let contraseña = document.getElementById('contraseñaOrg').value;
        let contraseña_repetida = document.getElementById('contraseña_repetida').value;
        let contraseña_erronea = document.getElementById('contraseñaErronea');
        //Expresiones regulares
        let regex = /^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[^\da-zA-Z]).{8,}$/;

        if (!regex.test(contraseña)) {
            contraseña_erronea.innerHTML = 'La contraseña debe tener al menos una mayúscula, una minúscula, un número, un carácter especial y tener al menos 8 caracteres.';
            return false;
        }

        if(contraseña === contraseña_repetida){
            contraseña_erronea.innerHTML = '';
            return true;
        }else{
            contraseña_erronea.innerHTML = 'Las contraseñas no coinciden';
            return false;
        }

    }
</script>


{% endblock %}