{% extends 'base.html.twig' %}
{# index.html.twig #}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}
{% block body %}
</br>
<div id="logo-container">
    <img src="{{ asset('c_logo.png') }}" alt="Logo de Cineverse" id="logo">
</div>
<div id="div_formulario_login">
<form action = "{{ path('app_login') }}" method="post" accept-charset="UTF-8" id="form_login">
    <h2 id="login-titulo"> Iniciar Sesion </h2>
    <input type="hidden" name="action" value="users/login">

    <h3 id="h3_login"><label for="loginName">Nombre de usuario</label></h3>
    <div class="input-group" style="margin-top: 10px;">
        <input id="loginName" type="text" name="_username" value="{{ last_username }}" style="width: 400px;"  class="form-control">
    </div>

    <h3 id="h3_login"><label for="password">Contraseña</label></h3>
    <div class="input-group" style="margin-top: 10px;">
        <input id="password" type="password" name="_password" class="form-control" style="margin-right: 10px;">
        <button type="button" id="togglePassword" class="btn btn-outline-secondary" style="border-radius: 0.5rem;">Mostrar</button>
    </div>

    </br>

   <div class="main-container">
   <div class="mensaje-registro">
        <p>¿No tienes cuenta?</p>
    </div>
    <div class="acciones-formulario">
        <button type="submit" class="btn btn-outline-success">Ingresar</button>
        <a href="{{ path('registro_cliente') }}" class="btn btn-outline-primary">Registrate</a>
    </div>
</div>

    {% if error != null %}
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="display: block;">
          <div class="toast-header">
            <img src="{{ asset('c.svg') }}" class="rounded me-2" alt="..." style="width: 30px;">
            <strong class="me-auto">Datos Erroneos</strong>
            <small>Ahora</small>
          </div>
          <div class="toast-body" >
            <b style="color: red;">
                Usuario o contraseña erroneos
            </b>
          </div>
        </div>
      </div>
    {% endif %}

</form>
</div>
<script>
    setTimeout(function() {
        $('#liveToast').fadeOut(1000, function() {
            $(this).remove();
        });
    }, 2000);
</script>

<script>
    document.getElementById('togglePassword').addEventListener('click', function () {
        let passwordInput = document.getElementById('password');
        let currentType = passwordInput.getAttribute('type');
        passwordInput.setAttribute('type', currentType === 'password' ? 'text' : 'password');
        this.textContent = currentType === 'password' ? 'Ocultar' : 'Mostrar';
    });
</script>

{% endblock %}