{% extends 'base.html.twig' %}

{% block body %}

{# {% if error %}
<div>Usuario o contraseña incorrecta</div>
{% endif %} #}


<div>
    <a href="{{ path('app_login') }}" class="btn btn-danger" style="margin: 1rem;">Volver</a>
    <div id="logo-container">
        <img src="{{ asset('c_logo.jpg') }}" alt="Logo de Cineverse" id="logo">
    </div>
</div>

<div style="display: flex; justify-content: space-between;">
    <h1>Nombre</h1>
    <h1>Usuario</h1>
    <h1>Correo</h1>
    <h1>Contraseña</h1>
</div>

{% for cliente in clientes %}
<div style="border: 3px solid red; display: flex; justify-content: space-between; margin: 1rem;">
    <p>{{cliente.nombre}}</p>
    <p>{{cliente.nombre_usuario}}</p>
    <p>{{cliente.correo_electronico}}</p>
    <p>{{cliente.contraseña}}</p>
</div>
{% endfor %}


{% endblock %}