{% extends 'base.html.twig' %}

{% block body %}
<div style="padding: 1rem;">
    <a href="{{ path('pagina_principal') }}" class="btn btn-danger">Volver</a>
    <a href="{{ path('cancelar') }}" class="btn btn-danger">Cancelar Suscripcion</a>
	<div id="logo-container">
		<img src="{{ asset('c_logo.jpg') }}" alt="Logo de Cineverse" id="logo">
	</div>
</div>

{% if cliente is defined %}
{{ dump(cliente) }}
{% endif %}


<form style="margin: 1rem;" action="{{ path('mostrar_suscripcion') }}" method="post" id="form_suscripcion" >
    <label for="duracion_suscripcion">Duración de suscripción (Planes disponibles para 1, 3 o 6 meses)</label>
    <select id="duracion_suscripcion" name="duracion_suscripcion" onchange="actualizarPrecio()" required>
        <option value="1">1 mes</option>
        <option value="3">3 meses</option>
        <option value="6">6 meses</option>
    </select>
<input type="value" name="precio_valor" id="precio_valor" required>

<button class="btn btn-primary" type="submit" onclick="realizarPago()">Pagar</button>

    <script>
    function actualizarPrecio() {
        var duracionSelect = document.getElementById("duracion_suscripcion");
        var precioInput = document.getElementById("precio_valor");

        var duracionSeleccionada = duracionSelect.value;
        var precio;

        switch (duracionSeleccionada) {
            case "1":
                precio = 500;
                break;
            case "3":
                precio = 1400;
                break;
            case "6":
                precio = 2700;
                break;
            default:
                precio = 500; // Precio predeterminado 
                break;
        }
        precioInput.value = precio;
    }
    function realizarPago() {
        alert("Pago exitoso por $" + document.getElementById("precio_valor").textContent);
        
    }
    </script>
    
</form>

{% endblock %}